$primary-color: #54e6af;
$secondary-color: #ffffff;
$tertiary-color: #121725;
$background-text-input: #2c344b;
$background-input-submit: #54e6af;
$paragraph-color: #c2cbe5;
$linear-background-layout: rgba(18, 23, 37, 0.95);
$logo-width: 8.4375rem;
$logo-height: 3.5rem;
