@font-face {
  font-family: "Chivo";
  src: url("/src/assets/fonts/Chivo/Chivo-Light.ttf");
}

$title-size-mobile: 1.625rem;
$chivo-light: 400;
$text-size-mobile: 0.9375rem;
$size-input: 0.875rem;
$weight-input: bold;
$font-chivo: "Chivo";
