@font-face {
  font-family: "Chivo";
  src: url("/src/assets/fonts/Chivo/Chivo-Light.ttf");
}

$title-size-mobile: 1.625rem;
$title-size-tablet: 3rem;
$title-size-desktop: 3.25rem;
$chivo-light: 400;
$text-size-mobile: 0.9375rem;
$text-size-tablet: 1.3125rem;
$text-size-desktop: 1.5rem;
$size-input-mobile: 0.875rem;
$size-input-tablet: 1.1875rem;
$size-input-desktop: 1.3125rem;
$weight-input: bold;
$font-chivo: "Chivo";
